.venv/
__pycache__/
*.pyc
.DS_Store
.env
chroma_db/
src/tests/train-bert/.ipynb_checkpoints
src/tests/train-bert/.jupyter
src/models/
src/tests/train-bert/*.csv
docs/_build/
docs/_autosummary/
CLAUDE.md
*.coverage
