fastapi==0.111.0
uvicorn==0.29.0
pydantic
langchain-chroma==0.1.2
langchain-core
langchain-huggingface
langchain-ollama
langchain-text-splitters
chromadb==0.5.3
sentence-transformers==3.0.1
transformers
requests
pandas
pdfplumber
beautifulsoup4
lxml
torch
supabase
tqdm
